.fix-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transform: translate3d(0, -1000px, 0);
  transition: transform .5s ease-in-out;
  background-color: rgba(0, 0, 0, .75);

  &.is-show {
    transform: translate3d(0, 0, 0);
  }
}
