.fix-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-top: 24px;
  z-index: 1;
  transform: translate3d(0, -100%, 0);
  transition: transform .75s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  background-color: rgba(0, 0, 0, .75);
  text-align: center;

  &.is-show {
    transform: translate3d(0, 0, 0);
  }
}
