.fix-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transition: opacity .75s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  opacity: 0;
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
  pointer-events: none;

  &.is-show {
    opacity: 1;
    pointer-events: auto;
  }

  .ika {
    margin-top: 8px;
  }
}
