.index-wrap {
  margin: 0 auto;
  padding: 32px 16px;
  max-width: 800px;
}

.index-center {
  text-align: center;
}

.index-table {
  width: 280px;
  margin: 0 auto;

  a {
    color: #fff;
    font-size: .75rem;
  }

  img,
  td { vertical-align: middle; }
}

.index-table,
.index-p,
.index-list {
  font-size: .8rem;
  margin-bottom: 8px;
}

.index-spacer {
  border: none;
  height: 16px;
}

.index-link {
  color: #FF6E00;
}

.index-img {
  outline: 2px solid #FF6E00;
}
