.index-wrap {
  margin: 0 auto;
  padding: 16px;
  max-width: 800px;
}

.index-center {
  text-align: center;
}

.index-spacer {
  border: none;
  height: 16px;
}

.index-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  a {
    color: #fff;
  }
}
