.index-wrap {
  margin: 0 auto;
  padding: 32px 16px;
  max-width: 800px;
}

.index-center {
  text-align: center;
}

.index-table {
  width: 280px;
  margin: 0 auto;
  font-size: .8rem;

  img,
  td { vertical-align: middle; }

  a {
    color: #fff;
    font-size: .75rem;
  }
}


.index-spacer {
  border: none;
  height: 16px;
}
