.tab-header {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  text-align: center;
}

.tab-header__item {
  height: 40px;
  min-width: 92px;
  padding: 4px 8px;
  flex: 1 1 auto;
  cursor: pointer;
  opacity: .5;

  &.is-selected {
    border-width: 1px;
    border-style: solid;
    opacity: 1;
  }
}

.tab-header__item--type-BASE {
  color: #FD2A96;
}
.tab-header__item--type-FACE {
  color: #CA00DF;
}
.tab-header__item--type-GEAR {
  color: #8CB800;
}
.tab-header__item--type-OTHERS {
  color: #0021FE;
}

.tab-body {
  margin-bottom: 16px;
}
