.tool-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 8px;
  padding-top: 8px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, .5);
}

.parts-selector-header {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 12px;
}

.parts-selector {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.parts-selector--item {
  min-width: 64px;
}

.type-selector,
.color-selector {
  height: 40px;
  margin: auto;
  cursor: pointer;
}

.type-selector {
  width: 80px;
  text-align: center;
  overflow: hidden;
  /* XXX: なんでこんなことを・・ */
  transform: translate3d(0,0,0);

  &.is-selected {
    animation: type-selected .25s 1 alternate;
  }

  &--type-brows > img {
    transform: scale(5);
    transform-origin: 16px 10px;
  }

  &--type-eyes > img {
    transform: scale(3);
    transform-origin: center 15px;
  }

  &--type-mouth > img {
    transform: scale(8);
    transform-origin: center;
  }

  &--type-hat > img {
    transform: scale(1.5);
    transform-origin: top;
  }

  &--type-clothes > img {
    transform: scale(2);
    transform-origin: bottom;
  }
}

.color-selector {
  width: 40px;
  border-radius: 50%;

  &.is-selected {
    animation: color-selected .25s 1 alternate;
  }
}
