.tool-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 8px;
  padding-top: 8px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, .5);
}

.parts-selector-header {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 12px;
}

.parts-selector-items {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.parts-selector-items--item {
  min-width: 64px;
}

.parts-selector-items--text {
  flex: 1 1 auto;
  margin: 0 32px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}

.type-selector,
.color-selector {
  height: 40px;
  margin: auto;
  cursor: pointer;
}

.type-selector {
  width: 80px;
  text-align: center;
  overflow: hidden;
  /* XXX: なんでこんなことを・・ */
  transform: translate3d(0,0,0);

  &.is-selected {
    animation: type-selected .25s 1 alternate;
  }
}

.parts-selector--app-boy,
.parts-selector--app-girl {
  .type-selector {
    &--type-eyes > img {
      transform: scale(3);
      transform-origin: center 15px;
    }

    &--type-hat > img {
      transform: scale(1.5);
      transform-origin: top;
    }

    &--type-clothes > img {
      transform: scale(2);
      transform-origin: bottom;
    }
  }
}

.parts-selector--app-boy {
  .type-selector {
    &--type-brows > img {
      transform: scale(4);
      transform-origin: 16px 10px;
    }

    &--type-mouth > img {
      transform: scale(6);
      transform-origin: center;
    }

    &--type-hair > img {
      transform: scale(2);
      transform-origin: top right;
    }
  }
}

.parts-selector--app-girl {
  .type-selector {
    &--type-brows > img {
      transform: scale(5);
      transform-origin: 16px 10px;
    }

    &--type-mouth > img {
      transform: scale(8);
      transform-origin: center;
    }
  }
}

.color-selector {
  width: 40px;
  border-radius: 50%;

  &.is-selected {
    animation: color-selected .25s 1 alternate;
  }
}
