@font-face {
  font-family: 'ikamodoki';
  src: url('../font/ikamodoki1_0.ttf') format('truetype');
}

.ft-ika {
  font-family: 'ikamodoki';
  vertical-align: text-bottom;
}

.ft-warn {
  color: #FED430;
}


@keyframes color-selected {
  from { transform: scale(.5); }
  to   { transform: scale(1); }
}

@keyframes type-selected {
  from { transform: rotateZ(15deg); }
  to   { transform: rotateZ(0deg); }
}


.is-selected {
  pointer-events: none;
}

.is-hidden {
  display: none;
}
