* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}
